<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/signin.css" />
    <title>Change password</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/cpass" class="sign-in-form" method="post">
            <h2 class="title">Change Password</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Email Id" name="email" required/>
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" name="pass" required/>
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Confirm Password" name="confirmpass" required/>
              </div>
            <input type="submit" value="Submit" class="btn solid" />
          </form>
        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Hey! You are one of us now</h3>
            <p>Are you enjoying this beautiful family called Prayaas!</p>
            <a href="/events"><button class="btn transparent">Go to Events</button></a>
          </div>
          <img src="/img/log.svg" class="image" alt="" />
        </div>
    </div>
</div>

<script src="/styles/app.js"></script>
</body>
</html>