<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/signin.css" />
    <title>Forgot password?</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/fpass" class="sign-in-form" method="post">
            <h2 class="title">Forgot Password</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Email Id" name="email" required/>
            </div>
            <input type="submit" value="Login" class="btn solid" />
          </form>
        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>Sign in to be a part of the Journey called Prayaas!</p>
            <a href="/login"><button class="btn transparent">Sign in</button></a>
          </div>
          <img src="/img/log.svg" class="image" alt="" />
        </div>
    </div>
</div>

<script src="/styles/app.js"></script>
</body>
</html>