<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Prayaas</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="/animate/animate.min.css" rel="stylesheet">
        <link href="/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/styles/style.css" rel="stylesheet">
    </head>

    <body>
        

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <img style="width:5%; margin-right: 3px;" src="/img/path864.png" alt="">
                <a href="/" class="navbar-brand">Prayaas</a>
                
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>

                        <a href="/proposals" class="nav-item nav-link">Proposals</a>
                        
                        <a href="/event" class="nav-item nav-link">Events</a>

                        <a href="/successstories" class="nav-item nav-link">Stories</a>
                        
                        <a href="/about" class="nav-item nav-link">About</a>
                       
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Proposals</h2>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <p>Proposals</p>
                    <h2>We heartly welcome all prposals.</h2>
                </div>
                <div class="row">

                    <% for (let i in message) {%>
                        <div class="col-lg-4">
                            <div class="blog-item">
                                
                                <div class="blog-text">
                                    <h3><a href="#"><%=message[i].name%></a></h3>
                                    <h3><a href="#"><%=message[i].email%></a></h3>
                                    <p>
                                        <%=message[i].proposal%>
                                    </p>
                                </div>
                            
                            </div>
                        </div>
                   <%}%>
                    
                    
                </div>
                
            </div>
        </div>
        
        
        
        
       

        <!-- Picture Gallery Ends -->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container ">
                <div class="center-elements">

                    <a href="https://www.facebook.com/PrayaasIIITAOfficial/"> <img  id="footer-img" src="./img/facebook.svg" alt="">    </a>
                    <a href="https://twitter.com/prayaasiiita?lang=en">       <img id="footer-img" src="./img/twitter.svg" alt="">      </a>
                    <a href="https://www.instagram.com/prayaasiiita/?hl=en">  <img id="footer-img" src="./img/instagram.svg" alt="">    </a>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/easing/easing.min.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>
        <script src="/waypoints/waypoints.min.js"></script>
        <script src="/counterup/counterup.min.js"></script>
        <script src="/parallax/parallax.min.js"></script>
        
        <!-- Contact Javascript File -->
       

        <!-- Template Javascript -->
        <script src="/js/main.js"></script>
    </body>
</html>
